@font-face {
  font-family: 'Arial Rounded';
  font-weight: 700;
  src: url('../fonts/arlrdbd.ttf');
}

@font-face {
  font-family: 'Modak';
  font-weight: 400;
  src: url('../fonts/Modak-Regular.ttf');
}
