@import 'transitions';
@import 'federation';

.nuxt-content {
  h1 {
    &::before {
      content: '#';
      margin-right: 0.5rem;
      color: var(--v-primary-base);
    }
  }
  p {
    text-align: justify;
    text-indent: 5rem;
  }
  a {
    font-weight: 500;
    &:hover {
      color: var(--v-primary-lighten1);
    }
  }
  ul {
    list-style: none;
    margin-bottom: 0.5rem;
    li {
      line-height: 2rem;
      &.task-list-item {
        &::before {
          content: none;
        }
      }
    }
    li::before {
      content: '#';
      margin-right: 0.5rem;
      font-weight: bold;
      color: var(--v-primary-base);
    }
  }
  table {
    display: block;
    width: 100%;
    overflow: auto;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    th {
      font-weight: 600;
    }
    & td,
    & th {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
    }
    & tr {
      border-top: 1px solid #c6cbd1;
    }
  }
  blockquote {
    margin: 0;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;
    p {
      text-indent: 0;
    }
    & > :first-child {
      margin-top: 0;
    }
    & > :last-child {
      margin-bottom: 0;
    }
  }
  hr {
    box-sizing: initial;
    height: 0;
    overflow: visible;
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    height: 0.25em;
    padding: 0;
    margin: 24px 0;
    background-color: var(--v-primary-base);
    border: 0;
    &:after {
      clear: both;
    }
    &:after,
    &:before {
      display: table;
      content: '';
    }
  }
}
